/* VARIABLES */

// font families
$body-font-family:         'Open Sans', serif;
$heading-font-family:      'Ikaros', sans-serif;

// font sizes
$body-font-size:            18px;
$heading-font-size:         36px;

// color scheme
$green:             #003d32;
$gold:              #cbb676;
$gray:              #666666;
$white:             #ffffff;
$body-link-color:   $white;

$error-color:       #C13333;
$success-color:     #30A538;
