/* HERO */
.hero {
    background-image: url('../img/hero-matrix-bg.png');
    background-repeat: repeat-x;
    background-position: top center;
    width: 100%;
    padding: 50px 0px 60px;
}
#container {
    width: 100%;
}
svg {
    margin: -270px auto 0px;
    display: block;
    width: 90% !important;
    max-width: 850px;
}
svg text {
    text-transform: uppercase;
    text-shadow: -1px -1px 0 #003d32, 1px -1px 0 #003d32, -1px 1px 0 #003d32, 1px 1px 0 #003d32;
    letter-spacing: 12px;
    text-rendering: optimizeLegibility;
}
.safari, .edge {
    text {
        letter-spacing: 7px !important;
    }
}
.ios {
    text {
        letter-spacing: 2px !important;
    }
}
.subtext {
    color: #b09e4b;
    text-align: center;
    font-size: 24px;
    max-width: 700px;
    width: 90%;
    margin: 30px auto;
}

/* MEDIA QUERIES */
@media screen and (max-width: 900px) {
    svg {
        max-width: 600px;
        margin-top: -200px;
    }
}
@media screen and (max-width: 680px) {
    svg {
        max-width: 400px;
        margin-top: -130px;
    }
    .subtext {
        font-size: 18px;
    }
}
@media screen and (max-width: 480px) {
    svg {
        max-width: 300px;
        margin-top: -110px;
    }
    .hero {
        padding: 50px 0px 30px;
    }
}
